{{- define "main" -}}
<div class="link-list d-flex justify-content-center align-items-center align-items-lg-stretch flex-column flex-lg-row gap-4 py-4">
{{ range $category, $links := .Site.Data.links }}
    <div class="links {{ $category }}-links card text-center flex-shrink-0 mb-3" style="width: 275px;">
        <div class="card-header fs-5 fw-bold">{{ $category | title }}</div>
        <div class="card-body">
            {{ range sort $links "name" }}
            <div class="link-entry p-2">
                <i class="{{ .icon }}" style="color: var(--bs-code-color);"></i> <a class="link-body-emphasis link-underline-opacity-0 link-offset-3 link-underline-opacity-100-hover" href="{{ .url }}">{{ .name }}</a>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
</div>
{{- end -}}